<div class="well well-lg col-md-10 col-md-offset-1">
  <div class="row">
      <div class="panel panel-default panel-profile">
        <div class="panel-body text-center">
          <iframe src="https://donorbox.org/embed/over-coffee-with-rev-dave-thompson?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:780px" seamless="seamless" name="donorbox" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>