  <!--  ///////////////////     Interview Panels     //////////////////-->
  <div class="m-t">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

        <!-- Panels -->

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/3SFroFgx0z4" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Over Coffee with Pastor oris Mitchell Brumfield, an Methodist Pastor in Middletown, CA. Episode 14.</h5>
            <p class="m-b-md">Voris shares her early childhood and calling to ministry and her family's move to and work in Lake County, CA.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/d478v-wsjMM" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Over Coffee with Darren Garvin, an atheist, shares his spiritual story. Episode 13.</h5>
            <p class="m-b-md">Darren shares his journey from being an evangelical Christian to his eventual destination as an atheist.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/dR_y1PA4W4c" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Over Coffee with Robert Satiacum, a native american, shares his spiritual story. Episode 12.</h5>
            <p class="m-b-md">Robert Satiacum shares about his early Christian experience and his movement into his native american spiritual experiences.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/fl0PBJrM0MI" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Over Coffee with Jackie Farley, a buddhist teach, shares her spiritual story. Episode 11.</h5>
            <p class="m-b-md">Jackie Farley tells us about her journey from The Church of England, to her life of teaching at the City of Ten Thousand Buddhas.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/NMhPKyHe4CI" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Over Coffee with Eric Valenzuela, a business owner, shares his spiritual story. Episode 10.</h5>
            <p class="m-b-md">Local coffee shop and tire store business owner, Eric Valenzuela, shares about the challenges of his childhood, becoming a Jehovah's Witness, divorce and remarriage, and finding his spiritual path. Filmed on location at Konocti Coffee in Soda Bay, CA.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/w7rTfGdsNqc" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Francesca Gentile, a wiccan priestess, from San Francisco: Episode 9.</h5>
            <p class="m-b-md">Francesca shares about growing up catholic and her journey, exploring spirituality.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/fRa_w_EsYPg" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Rob Robertson, a fireman from Seattle, WA: Episode 8</h5>
            <p class="m-b-md">Rob shares about the loss of his son and the challenges of being a first responder.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/WObH610F1gI" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Ray Boltz, Celebrity Christian Performing Artist, Episode 7</h5>
            <p class="m-b-md">Ray shares about his early faith decisions, his rise to fame, and coming out as gay.</p>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/6hytmiyYEwM" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">A Southern Story, Andrea Brown, Episode 6</h5>
            <p class="m-b-md">Andrea Brown shares about growing up not knowing her father, being black in the south, and her faith journey.</p>
          </div>
        </div>


        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/EniFZV5LMm0" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Valley Fire Victim Karl Parker (Ep5)</h5>
            <p class="m-b-md">Karl Parker shares his spiritual story in the wake of losing their home in the Valley Fire.</p>
            <p class="m-b-md">50% of this episode's donations will go to <a href="http://www.lakeportrotary.org" target="_blank">Lake County Rotary Valley Fire Relief Fund.</a></p>
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-credit-card"></span> <a href="http://overcoffee.tv/donate/valleyfire.html">donate</a>
            </button>
          </div>
        </div>


        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/Y1dakVXlqkk" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Valley Fire Chaplain Nick Arnett (Ep4)</h5>
            <p class="m-b-md">Chaplain Nick Arnett shares his spiritual story..</p>
            <p class="m-b-md">50% of this episode's donations will go to <a href="http://www.lakeportrotary.org" target="_blank">Lake County Rotary Valley Fire Relief Fund.</a></p>
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-credit-card"></span> <a href="http://overcoffee.tv/donate/valleyfire.html">donate</a>
            </button>
          </div>
        </div>



        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/dcvywYXIO2I" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Anja Koot (Ep3)</h5>
            <p class="m-b-md">Anja Koot, formally a nun, shares her spiritual story.</p>
            <p class="m-b-md">50% of this episode's donations will go to <a href="www.lakecountyhospice.org" target="_blank">Hospice Services of Lake County.</a></p>
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-credit-card"></span> <a href="http://overcoffee.tv/donate/hospice.html">donate</a>
            </button>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/nTZDyyAuHb4" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Rabbi Mordecai Miller (Ep2)</h5>
            <p class="m-b-md">Rabbi Mordecai Miller shares his spiritual story.</p>
            <p class="m-b-md">50% of this episode's donations will go to <a href="http://sharedhope.org" target="_blank">Shared Hope International.</a></p>
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-credit-card"></span> <a href="http://overcoffee.tv/donate/shared_hope.html">donate</a>
            </button>
          </div>
        </div>

        <div class="panel panel-default panel-profile">
          <p>&nbsp;</p>
          <center><iframe width="290" height="150" src="https://www.youtube.com/embed/eUXOwBny4dI" frameborder="0" allowfullscreen></iframe></center>
          <div class="panel-body text-center">
            <h5 class="panel-title">Rebecca Vitsmun (Ep1)</h5>
            <p class="m-b-md">The spiritual story of an atheist nationally outed on CNN.</p>
            <p class="m-b-md">50% of this episode's donations will go to <a href="http://foundationbeyondbelief.org" target="_blank">Foundation Beyond Belief</a></p>
            <button class="btn btn-primary-outline btn-sm">
              <span class="icon icon-credit-card"></span> <a href="http://overcoffee.tv/donate/">donate</a>
            </button>
          </div>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

      </div>
    </div>
  </div>