<!--  ///////////////////     Interview Panels     //////////////////-->
  <div class="profile-header text-center" style="background-color: #222222; background-image: url(../images/ep5_karl-parker.jpg)">
    <div class="container-fluid">
      <div class="container-inner">
        <h3 class="profile-header-user">Over Coffee</h3>
        <p class="profile-header-bio">A 30-minute weekly online tv show where Rev. Dave intervews his guests
                                        about their spiritual stories.</p>
      </div>
    </div>
    <nav class="profile-header-nav">
      <ul class="nav nav-tabs">
        <li class="active"><%= link_to("About", :controller => "about") %></li>
      </ul>
    </nav>
  </div>
  <div class="m-t" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default panel-profile" style="padding: 20px">
        <p>In this global community, how do we learn to peacefully live together with fundamental differences in how we view God, life, purpose, and morals?</p>

        <p>As a program of World Uniting, Over Coffee seeks to address this very question head-on by championing empathy through listening to the spiritual stories of people from all walks of life and spirituality, in a casual setting over coffee.</p>

        <p>Each episode features a new guest in a standardized format, style and line of questioning. The interview is broken into three sections: (1) Spiritual heritage and early life, (2) Major life events that have shaped their spirituality, (3) and relevant social issues with which they are engaging or wrestling.</p>

        <p>Each episode is filmed on location with a minimal studio setup, utilizing a GoPro wide-angle camera, H6 Digital Recorder with Mid-Side mic and lapels mix-down, and minimal box lighting as necessary.</p>
        </div>
      </div>
    </div>
  </div>