<div class="well well-lg col-md-8 col-md-offset-2">

	<h1>Editing Show</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @show %> |
	<%= link_to 'Back', shows_path %>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
</div>